<!DOCTYPE html>
<html>

  <head>
    <title>protoo</title>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <link rel='apple-touch-icon' sizes='180x180' href='/images/apple-icon-180x180.png'>
    <link rel='icon' type='image/png' sizes='192x192' href='/images/android-icon-192x192.png'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Poiret+One' rel='stylesheet'>
    <!-- <link rel='stylesheet' href='/css/prism.css'> -->
    <link rel='stylesheet' href='/css/home.css' media='screen, projection'>

    <!-- <script src='/js/prism.js'></script> -->
  </head>

  <body>

    <div class='menu'>
      <div class='grid'>
        <div class='row'>
          <div class='item three columns'>
            <a href='#'>Getting Started</a>
          </div>

          <div class='item three columns'>
            <a href='#'>Documentation</a>
          </div>

          <div class='item three columns'>
            <a href='#'>Resources</a>
          </div>

          <div class='item three columns'>
            <a class='last' href='#'>Foo Bar</a>
          </div>
        </div>
      </div>

      <div class='icon-wrapper'>
        <div class='icon'></div>
      </div>
    </div>

    <div class='content'>
    {{ content }}
    </div>

    <div class='footer'>
      <div class='grid'>
        <div class='row'>

          <div class='four columns'>
            <p><a href='https://github.com/ibc/protoo/blob/master/LICENSE'>License</a></p>
          </div>

          <div class='four columns'>
            <p><a href='https://github.com/ibc/protoo/'>Source code</a></p>
          </div>

          <div class='four columns'>
            <p><a href='https://github.com/ibc/protoo/issues'>Issue tracker</a></p>
          </div>

        </div>
      </div>

      <p class='copyright'>Copyright &copy; 2015, Iñaki Baz Castillo</p>
    </div> <!-- .footer -->

  </body>

</html>
